<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Championships</title>
    <link rel="stylesheet" th:href="@{/css/tables.css}">
</head>
<body>

<h1>Championship Management</h1>

<div class="card">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Season</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${championships}">
            <td th:text="${c.name}"></td>
            <td th:text="${c.season}"></td>
            <td>
                <a class="btn btn-edit" th:href="@{'/admin/championships/edit/' + ${c.id}}">Edit</a>
                <form th:action="@{'/admin/championships/delete/' + ${c.id}}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-delete" onclick="return confirm('Are you sure?');">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="bts">
    <a href="/admin/championships/add" class="btn btn-big btn-add">Add Championship</a>
    <a href="/admin/dashboard" class="btn btn-big btn-back">Back to Dashboard</a>
</div>
</body>
</html>
