<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coaches Management</title>
    <link rel="stylesheet" th:href="@{/css/tables.css}">
</head>
<body>
<h1>Coaches Management</h1>

<div class="card">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Nationality</th>
            <th>Birthdate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${coaches}">
            <td th:text="${c.name}"></td>
            <td th:text="${c.nationality}"></td>
            <td th:text="${c.birthdate}"></td>
            <td>
                <a th:href="@{'/admin/coaches/edit/' + ${c.id}}" class="btn btn-edit">Edit</a>
                <form th:action="@{'/admin/coaches/delete/' + ${c.id}}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-delete" onclick="return confirm('Are you sure?');">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="bts">
    <a href="/admin/coaches/add" class="btn btn-add">Add coach</a>
    <a href="/admin/dashboard" class="btn btn-back">Back to Dashboard</a>
</div>
</body>
</html>
