<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Matches Management</title>
    <link rel="stylesheet" th:href="@{/css/tables.css}">
</head>
<body>
<h1>Matches Management</h1>

<div class="card">
    <table>
        <thead>
        <tr>
            <th>Championship</th>
            <th>Home</th>
            <th>Away</th>
            <th>Date</th>
            <th>Score</th>
            <th>Stadium</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${matches}">
            <td th:text="${m.championship.name}"></td>
            <td th:text="${m.homeTeam.name}"></td>
            <td th:text="${m.awayTeam.name}"></td>
            <td th:text="${m.date}"></td>
            <td th:text="${m.score}"></td>
            <td th:text="${m.stadium}"></td>
            <td>
                <a th:href="@{'/admin/matches/edit/' + ${m.id}}" class="btn btn-edit">Edit</a>
                <form th:action="@{'/admin/matches/delete/' + ${m.id}}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-delete" onclick="return confirm('Are you sure?');">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="bts">
    <a href="/admin/matches/add" class="btn btn-add">Add match</a>
    <a href="/admin/dashboard" class="btn btn-back">Back to Dashboard</a>
</div>
</body>
</html>
