<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teams Management</title>
    <link rel="stylesheet" th:href="@{/css/tables.css}">
</head>
<body>
<h1>Teams Management</h1>

<div class="card">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Stadium</th>
            <th>Coach</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="team : ${teams}">
            <td th:text="${team.name}"></td>
            <td th:text="${team.city}"></td>
            <td th:text="${team.stadium}"></td>
            <td th:text="${team.coach.name}"></td>
            <td>
                <a th:href="@{'/admin/teams/edit/' + ${team.id}}" class="btn btn-edit">Edit</a>
                <form th:action="@{'/admin/teams/delete/' + ${team.id}}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-delete" onclick="return confirm('Are you sure?');">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="bts">
    <a href="/admin/teams/add" class="btn btn-add">Add team</a>
    <a href="/admin/dashboard" class="btn btn-back">Back to Dashboard</a>
</div>
</body>
</html>
