<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Add Coach</title></head>
<body>
<h1>Add Coach</h1>
<form th:action="@{/admin/coaches/add}" th:object="${coach}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{name}" />
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>
    <label>Team:</label>
    <select th:field="*{team}" th:each="team : ${teams}" th:value="${team}" th:text="${team.name}"></select>
    <div th:if="${#fields.hasErrors('team')}" th:errors="*{team}"></div>
    <br>
    <label>Nationality:</label>
    <input type="text" th:field="*{nationality}" />
    <div th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}"></div>
    <br>
    <label>Birthdate:</label>
    <input type="date" th:field="*{birthdate}" />
    <div th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></div>
    <br>
    <button type="submit">Save</button>
</form>
<a href="/admin/coaches">Back</a>
</body>
</html>